* {
    padding: 0px;
    margin: 0px;
}

/* Line */

.line {
    height: 30px;
    width: 100%;
    background: linear-gradient(#00545d, #000729);
}

/* Nav bar */

.navbar-nav a {
    color: navy !important;

}

.navbar navbar-expand-lg bg-body-tertiary {
    height: 108px;
}

.navbar-brand {
    font-family: 'Merriweather', serif;
    font-size: large;
}



.navbar-nav .nav-item.dropdown:hover .dropdown-menu a {
    color: navy !important;
}


.navbar-nav .nav-item.dropdown:hover .dropdown-menu a:hover {
    color: teal !important;

}

.navbar-nav a:hover {
    color: rgb(64, 152, 187) !important;
    border-radius: 50px;

}


.navbar-nav .nav-item.dropdown:hover .dropdown-menu a:hover {
    color: teal !important;
}

.navbar-nav .nav-item {
    margin-right: 4px;
}

/* Add this to your style.css or in a style block in the head of your HTML document */
.bg-body-tertiary {
    background-color: #333;
    /* Choose a suitable background color */
}

/* Carousel starts here */
.carousel-item active .d-block w-100 {
    max-height: 400px;
    max-width: 100%;
    margin-top: 0px;
}

/* Paragraph*/
.heading_container {
    color: Teal;
    font-weight: bold;
    font-size: xx-larger;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin-left: 3%;
}

.container .p {
    text-align: justify;
    color: rgb(22, 22, 77);
}

/* card */
.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* Types image */
.container-fluid1 {
    position: relative;
    width: 100%;
    height: 500px;
}

.container-fluid1 img {
    opacity: 0.4;
    width: 100%;
    height: 100%;

}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(9, 9, 58);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.container-fluid2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.text1 {
    width: 100%;

}

.carousel-container {
    width: 100%;
    max-width: 600px;
    /* Adjust the max-width based on your design */
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item {
    height: auto;
    width: 100%;
}

.container-fluid3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.text2 {
    width: 100%;
}

.container-fluid4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.text3 {
    width: 100%;
}
.container-fluid-footer{
    height: 400px;
    width: 100%;
    border: 1px solid black;
    background-color: rgb(76, 165, 165);

}
.linef{
    height: 40px;
    width: 100%;
    background-color:rgb(0, 0, 61) ;
}
.contact , .ftext{
 font-size: medium;
}
